<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


    <link href="/finders/static/plugins/ionic/ionic.min.css" rel="stylesheet">
    <link href="/finders/static/css/background.css" rel="stylesheet">
    <link href="/finders/static/css/main.css" rel="stylesheet">


    <script src="/finders/static/plugins/ionic/ionic.bundle.min.js"></script>
    <script src="/finders/static/plugins/slider.js"></script>
    <script src="/finders/static/js/app.js"></script>

    <!-- FACTORY -->
    <script src="/finders/static/js/factory/factory.js"></script>
    <script src="/finders/static/js/factory/userFactory.js"></script>
    <script src="/finders/static/js/factory/mockFactory.js"></script>
    <script src="/finders/static/js/factory/dataFactory.js"></script>
    <script src="/finders/static/js/factory/questionsFactory.js"></script>

    <!-- SERVICES -->
    <script src="/finders/static/js/services/service.js"></script>
    <script src="/finders/static/js/services/apiService.js"></script>

    <!-- CONTROLLERS -->
    <script src="/finders/static/js/controllers/controller.js"></script>
    <script src="/finders/static/js/controllers/authCtrl.js"></script>
    <script src="/finders/static/js/controllers/homeCtrl.js"></script>
    <script src="/finders/static/js/controllers/newsCastsCtrl.js"></script>
    <script src="/finders/static/js/controllers/resultsCtrl.js"></script>
    <script src="/finders/static/js/controllers/settingsCtrl.js"></script>

</head>

<!--
Possible Animations:
slide-left-right-ios7
nav-title-slide-full
fade-in-out
-->

<body ng-app="reports" animation="nav-title-slide-full">


<ion-nav-bar align-title="center" class="bar-stable" align-title="left">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
    </ion-nav-back-button>
    <h1 class="title"><!--<img class="header-logo" src="/img/logo.png">--></h1>

</ion-nav-bar>


<!--
  The nav bar that will be updated as we navigate between views.
-->

<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->
<ion-nav-view></ion-nav-view>
</body>

</html>