<ion-view title="Answer Questions" ng-class="background">

    <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                 has-bouncing="false">

        <div class="row">

            <div class="col">

                <div class="question-section" ng-repeat="(key, value) in questions | groupBy: 'section'">

                    <h1>Section:{{ key }}</h1>

                    <div class="list">

                        <div class="item" ng-repeat="singleQuestion in value">
                            <div class="question">Question: {{ singleQuestion.text }}</div>

                            <div class="single" ng-show="singleQuestion.type === 'Single Line'">
                                <label class="singleQuestion item item-input">
                                    <input type="text" ng-model="singleQuestion.answer.answer" ng-change="answerChanged(singleQuestion)">
                                </label>
                            </div>
                            <!--does not return correctly  -->

                            <div class="list" ng-show="singleQuestion.type === 'Multi-Choice'">

                                <ion-checkbox ng-repeat="option in singleQuestion.options"
                                              ng-model="option.checked"
                                              ng-checked="option.checked" ng-change="answerChanged(singleQuestion)">
                                    {{ option.text }}
                                </ion-checkbox>

                            </div>
                            <!-- this down works returns optionID  -->

                            <div class="list row responsive-md gallery" ng-show="singleQuestion.type === 'Multiple Choice'">

                                <ion-radio class="item col col-33" ng-repeat="option in singleQuestion.options"
                                           ng-value="option.id"
                                           ng-model="singleQuestion.answer.answer" ng-change="answerChanged(singleQuestion)">
                                    {{ option.text }}
                                </ion-radio>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="card">
  <div class="item item-text-wrap row resposinve-md">

      <div class="col col-33">

      </div>
      <div class="col col-33"></div>
      <div class="col col-33">

          <button ng-click="submitForm(form)" class="submit button button-outline button-positive button-block">
                Save
            </button>

      </div>


  </div>
</div>



    </ion-content>
</ion-view>
