<ion-view title="Answers" ng-class="background">
    <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                 has-bouncing="false">

        <div class="row">

            <!-- start card information for selected segment -->
            <div class="col col-20">
                <div class="list card">
                    <div class="item item-divider">
                        {{ activeAnswer.cast.company }}
                    </div>
                    <div class="item">
                        <h3>{{ activeAnswer.segment.subject }}</h3>
                        <h4>Start: {{ activeAnswer.segment.start }} End: {{ activeAnswer.segment.end }}</h4>
                    </div>
                    <span class="item-note">
                        Submitted by: {{ activeAnswer.user.first }} {{ activeAnswer.user.last }}
                    </span>
                </div>
            </div>
            <!-- end card info -->

            <!-- start answer table to display question and result -->
            <div class="col">
                <table class="table-padding">
                    <!-- table header info -->
                    <thead>
                        <td>ID</td>
                        <td>Question</td>
                        <td>Answer</td>
                    </thead>

                    <tbody>
                    <!-- loop on each answer and create a row for it with id, question, and answer -->
                        <tr ng-repeat="item in answers">
                            <td width="5%">{{ item.id }}</td>
                            <td>{{ item.question.text }}</td>
                            <td>{{ item.parsed_answer }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end table -->

        </div>

    </ion-content>
</ion-view>