<ion-view title="Answers" ng-class="background">

    <ion-nav-buttons side="right">
        <a href="http://127.0.0.1:5000/api/admin/export/questions/{{ activeAnswer.id }}" class="button button-positive button-outline"
           ng-show="GLOBAL_IS_ADMIN && activeAnswer && activeAnswer.id > -1">
            EXPORT THESE ANSWERS
        </a>
    </ion-nav-buttons>

    <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                 has-bouncing="false">

        <div class="row">

            <!-- start card information for selected segment -->
            <div class="col col-20">

                <div class="card">

                    <!-- start card information -->
                    <div class="item item-divider">
                        {{ activeAnswer.cast.company }}
                    </div>
                    <div class="item">
                        <h3>Subject: {{ activeAnswer.segment.subject }}</h3>
                        <h4>Start: {{ activeAnswer.segment.start }} End: {{ activeAnswer.segment.end }}</h4>

                        <p>Date: {{ activeAnswer.cast.date }}</p>
                    </div>
                    <div class="item item-divider" ng-show="activeAnswer.user">
                        Submitted by: {{ activeAnswer.user.first }} {{ activeAnswer.user.last }}
                    </div>
                    <!-- end card information -->

                </div>


            </div>
            <!-- end card info -->

            <!-- start answer table to display question and result -->
            <div class="col">
                <table class="table-padding">
                    <!-- table header info -->
                    <thead>
                        <td>Section</td>
                        <td>Question</td>
                        <td>Answer</td>
                    </thead>

                    <tbody>
                    <!-- loop on each answer and create a row for it with id, question, and answer -->
                        <tr ng-repeat="item in answers">
                            <td>{{ item.section }}</td>
                            <td>{{ item.question.text }}</td>
                            <td>{{ item.parsed_answer }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end table -->

        </div>

    </ion-content>
</ion-view>