<ion-view title="Answer Questions" ng-class="background">

    <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                 has-bouncing="false">

<div class="row responsive-sm">
            <div class="col">

                <div class="list">

                    <div class="item item-divider">
                        Questions
                    </div>

                    <div class="list">
                        <div class=" item-divider animate-repeat" ng-repeat="(key, value) in questions | groupBy: 'section'">
                              Section:{{ key }}
                              <div class="item" ng-repeat="item in value">
                                {{ item.text }} is a {{ item.type }}
                              </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>
