<ion-view title="Edit Questions" ng-class="background">

    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear" ng-click="newQuestion()">
            ADD
        </button>
    </ion-nav-buttons>

    <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                 has-bouncing="false">

        <div class="row responsive-sm">
            <div class="col">

                <div class="list">

                    <div class="item item-divider">
                        Questions
                    </div>

                    <div class=" item animate-repeat" ng-repeat="item in questions">
                        {{ item.text }}
                        <button class="button-small icon ion-edit" ng-click="editQuestion(item)"
                                class="button button-outline button-positive"></button> |
                        <button class="button-small icon ion-trash-b" ng-click="deleteQuestion(item)"
                                class="button button-outline button-assertive"></button>
                    </div>


                </div>

            </div>

        </div>
    </ion-content>
</ion-view>


<!--
    THIS IS THE MODAL THAT WILL POPUP WHEN ADD IS CLICKED. WHEN EDITING
    YOU CAN PROBABLY REMOVE IT OUT OF SCRIPT THEN ONCE DONE DESIGNING
    ADD IT BACK IN THE SCRIPT TAG. EITHER WAY, IT SHOULD HELP YOU GET STARTED
-->

<script id="editQuestions.html" type="text/ng-template">
    <ion-modal-view>

        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">{{ isEditing ? 'Edit Question' : 'New Question'}}</h1>
            <button class="button button-clear button-primary" ng-click="createEditModal.hide()">Close</button>
        </ion-header-bar>

        <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                     has-bouncing="false">

            <!-- Everything you want comes under here :) -->

            <div>
                <div class="list" ng-show="types.length > 0">

                    <label class="item item-input">
                        <span class="input-label">Question</span>
                        <input type="text" ng-model="form.text">
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Section</span>
                        <input type="number" ng-model="form.section">
                    </label>

                    <div class="item item-divider">Type</div>

                    <ion-radio ng-repeat="item in types"
                               ng-value="item"
                               ng-model="form.type">
                        {{ item }}
                    </ion-radio>


                    <div class="item item-divider item-button-right"
                         ng-show="form.type === 'Multiple Choice' || form.type === 'Multi-Choice'">
                        Options
                        <button class="button button-positive button-outline" ng-click="newOption(form)">
                            +
                        </button>
                    </div>



                    <div class="list" ng-show="form.type === 'Multiple Choice' || form.type === 'Multi-Choice'">

                        <div class="item row" ng-repeat="item in form.options">

                            <div class="col col-90">

                                <label class="item item-input">
                                    <input type="text" ng-model="item.text" placeholder="Option">
                                </label>

                            </div>
                            <div class="col col-10">
                                <button class="button button-positive button-outline icon ion-ios7-minus-outline"
                                        ng-click="deleteOption(item, $index)"></button>
                            </div>


                        </div>

                    </div>

                    <div class="item item-input-inset">
                        <button ng-show="isEditing" ng-click="updateQuestion(form)" class="button button-small">
                            Update
                        </button>
                        <button ng-show="!isEditing" ng-click="submitQuestion(form)" class="button button-small">
                            Save
                        </button>
                    </div>
                </div>

            </div>


            <!--
            <div ng-show="!isEditing">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Question</span>
                        <input type="text" ng-model="question.text">
                    </label>

                    <button class="button button-positive button-clear" ng-click="newOption()">
                        +
                    </button>


                    <div class=" item animate-repeat" ng-repeat="options in form">
                        <label class="item item-input">
                            <span class="input-label">Answer</span>
                            <input type="text" ng-model="question.tag">
                        </label>
                    </div>



                    <div class="item item-input-inset">
                        <button ng-click="submitQuestion()" class="button button-small">
                            Save
                        </button>
                    </div>
                </div>

            </div>

            <div ng-show="isEditing">
                <h3>{{editItem ? editItem.text : ''}}</h3>

                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Question</span>
                        <input type="text" ng-model="editItem.text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Answer</span>
                        <input type="text" ng-model="editItem.tag">
                    </label>

                    <div class="item item-input-inset">
                        <button ng-click="updateQuestion()" class="button button-small">
                            Update
                        </button>
                    </div>
                </div>
            </div>

            -->

            <!-- Everything you want comes above here :) -->

        </ion-content>
    </ion-modal-view>
</script>