<ion-view title="Home" ng-class="background">

    <ion-nav-buttons side="right">
        <button class="button button-positive button-outline" ng-click="goToManageAssign()" ng-show="GLOBAL_IS_ADMIN">
            MANAGE ASSIGNMENTS
        </button>
    </ion-nav-buttons>

    <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                 has-bouncing="false">

        <div class="row responsive-sm" ng-show="!loadingData">

            <div class="col col-25">
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search" ng-model="filter.search">
                    </label>
                </div>
            </div>

        </div>

        <!-- LOADING -->
        <div class="row" ng-show="loadingData">
            <div class="spinner cssSlideUp">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!-- END LOADING -->

        <div class="row responsive-sm" ng-show="!loadingData">

            <!-- INCOMPLETE -->
            <div class="col col-33">
                <ul class="list">
                    <li class="item item-divider">Incomplete</li>
                    <li class="item item-icon-left" ng-repeat="item in incomplete" ng-show="isAdmin">
                        <i class="icon clickable {{ hover ? 'ion-ios7-cog' : 'ion-ios7-cog-outline' }}"
                           ng-mouseenter="hover = true" ng-mouseleave="hover = false"></i>

                        <h3>{{ item.cast.company }}</h3>
                        <h4>Subject: {{ item.segment.subject }}</h4>
                        {{ item.user.first }} {{ item.user.last }}
                        <span class="item-note">
                            {{ item.user.email }}
                        </span>
                    </li>
                    <a href="#/tab/home/answerQuestions/{{ item.id }}" class="item item-icon-left" ng-repeat="item in incomplete" ng-show="!isAdmin">
                        <i class="icon ion-ios7-film"></i>
                        {{ item.cast.company }}
                        <span class="item-note">
                            Subject: {{ item.segment.subject }}
                        </span>
                    </a>
                </ul>
            </div>
            <!-- END INCOMPLETE -->

            <!-- NEED TO START -->
            <div class="col col-33">
                <ul class="list">
                    <li class="item item-divider">Need to Start</li>
                    <li class="item item-icon-left" ng-repeat="item in toStart" ng-show="isAdmin && item.isVisible">
                        <i class="icon clickable {{ hover ? 'ion-ios7-cog' : 'ion-ios7-cog-outline' }}"
                           ng-mouseenter="hover = true" ng-mouseleave="hover = false"></i>

                        <h3>{{ item.cast.company }}</h3>
                        <h4>Subject: {{ item.segment.subject }}</h4>
                        {{ item.user.first }} {{ item.user.last }}
                        <span class="item-note">
                            {{ item.user.email }}
                        </span>
                    </li>
                    <a href="#/tab/home/answerQuestions/{{ item.id }}" class="item item-icon-left" ng-show="!isAdmin && item.isVisible"
                             ng-repeat="item in toStart">
                        <i class="icon ion-ios7-film"></i>
                        {{ item.cast.company }}
                        <span class="item-note">
                            Subject: {{ item.segment.subject }}
                        </span>
                    </a>
                </ul>
            </div>
            <!-- END NEED TO START -->

            <!-- COMPLETED -->
            <div class="col col-33">
                <ul class="list">
                    <li class="item item-divider">Completed</li>
                    <li class="item item-icon-left" ng-repeat="item in completed" ng-show="isAdmin">
                        <i class="icon clickable {{ hover ? 'ion-ios7-cog' : 'ion-ios7-cog-outline' }}"
                           ng-mouseenter="hover = true" ng-mouseleave="hover = false"></i>

                        <h3>{{ item.cast.company }}</h3>
                        <h4>Subject: {{ item.segment.subject }}</h4>
                        {{ item.user.first }} {{ item.user.last }}
                        <span class="item-note">
                            {{ item.user.email }}
                        </span>
                    </li>
                    <li class="item item-icon-left" ng-repeat="item in completed" ng-show="!isAdmin">
                        <i class="icon ion-ios7-film"></i>
                        {{ item.cast.company }}
                        <span class="item-note">
                            Subject: {{ item.segment.subject }}
                        </span>
                    </li>

                </ul>
            </div>
            <!-- END COMPLETED -->

        </div>

    </ion-content>
</ion-view>