<ion-view title="Segments" ng-class="background">
    <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                 has-bouncing="false">
        <div class="table-padding pointer-cursor" ng-show="!loadingTable">
            <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                         has-bouncing="false">
                <ion-nav-buttons side="right">
                    <button class="button button-positive button-clear" ng-click="newSegment()">
                        ADD SEGMENT
                    </button>
                </ion-nav-buttons>

                <div class="row">

                    <div class="col col-20">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <h2>{{ activeCast.company }}</h2>
                                <p>{{ activeCast.date }}</p>
                            </div>
                              <div class="item item-icon-right">
                                   <i class="icon ion-ios7-arrow-thin-right" ng-click="editCast(cast)"></i>
                              </div>
                              <div class="item item-icon-left">
                                   <i class="icon ion-trash-b" ng-click="deleteCast()"></i>
                              </div>
                        </div>


                    </div>
                    <div class="col col-80">

                        <table class="table-padding">

                            <thead>

                            <tr></tr>
                            <td> Subject</td>
                            <td> Start Time</td>
                            <td> End Time</td>
                            </tr>

                            </thead>

                            <tbody>

                            <tr ng-repeat="segment in castSegments">

                                <td>{{ segment.subject }}</td>
                                <td>{{ segment.start }}</td>
                                <td>{{ segment.end }}</td>

                            </tr>

                            </tbody>

                        </table>

                    </div>

                </div>


                <!-- END TABLE -->


            </ion-content>
</ion-view>


<script id="newSegment.html" type="text/ng-template">
    <ion-modal-view>

        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">{{isEditing ? 'Edit Segment' : 'New Cast'}}</h1>
            <button class="button button-clear button-primary" ng-click="createEditCastModal.hide()">Close</button>
        </ion-header-bar>

        <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                     has-bouncing="false">

            <!-- Everything you want comes under here :) -->

            <div ng-show="!isEditing">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Subject</span>
                        <input type="text" ng-model="seg.subject">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Start Time</span>
                        <input type="text" ng-model="seg.start">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">End Time</span>
                        <input type="text" ng-model="seg.end">
                    </label>


                    <div class="item item-input-inset">
                        <button ng-click="submitSegment(seg)" class="button button-small">
                            Save
                        </button>
                    </div>
                </div>

            </div>
            <div ng-show="isEditing">
                <h3>{{editItem ? editItem.text : ''}}</h3>

                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Subject</span>
                        <input type="text" ng-model="editItem.text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Start Time</span>
                        <input type="text" ng-model="editItem.tag">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">End Time</span>
                        <input type="text" ng-model="editItem.tag">
                    </label>

                    <div class="item item-input-inset">
                        <button ng-click="updateSegment()" class="button button-small">
                            Update
                        </button>
                    </div>
                </div>
            </div>

            <!-- Everything you want comes above here :) -->

        </ion-content>
    </ion-modal-view>
</script>

<script id="editCast.html" type="text/ng-template">
    <ion-modal-view>

        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">{{isEditing ? 'Edit Cast' : 'New Cast'}}</h1>
            <button class="button button-clear button-primary" ng-click="createEditCastModal.hide()">Close</button>
        </ion-header-bar>

        <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                     has-bouncing="false">

            <!-- Everything you want comes under here :) -->

            <div>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Company</span>
                        <input type="text" ng-model-options="" ng-model="form.company">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date</span>
                        <input type="text" ng-model="form.date">
                    </label>

                    <div class="item item-input-inset">
                        <button ng-show="!isEditing" ng-click="saveCast(form)" class="button button-small">Save</button>
                        <button ng-show="isEditing" ng-click="updateCast(form)" class="button button-small">Update</button>
                    </div>
                </div>

            </div>

            <!-- Everything you want comes above here :) -->

        </ion-content>
    </ion-modal-view>
</script>

<script id="editSegment.html" type="text/ng-template">
    <ion-modal-view>

        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">{{isEditing ? 'Edit Segment' : 'New Segment'}}</h1>
            <button class="button button-clear button-primary" ng-click="createEditSegModal.hide()">Close</button>
        </ion-header-bar>

        <ion-content class="padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                     has-bouncing="false">

            <!-- Everything you want comes under here :) -->

            <div>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Subject</span>
                        <input type="text" ng-model-options="" ng-model="seg.subject">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Start Time</span>
                        <input type="text" ng-model="seg.start">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">End Time</span>
                        <input type="text" ng-model="seg.end">
                    </label>

                    <div class="item item-input-inset">
                        <button ng-show="!isEditing" ng-click="saveSeg(seg)" class="button button-small">Save</button>
                        <button ng-show="isEditing" ng-click="updateSeg(seg)" class="button button-small">Update</button>
                    </div>
                </div>

            </div>

            <!-- Everything you want comes above here :) -->

        </ion-content>
    </ion-modal-view>
</script>