<ion-view title="Settings" ng-class="background">
    <ion-content class="has-padding" overflow-scroll="true" direction="xy" scrollbar-x="true" scrollbar-y="true"
                 has-bouncing="false">

        <div class="row responsive-sm">
            <div class="col col-50">

                <div class="list">

                    <div class="item item-divider">
                        Edit Questions
                    </div>

                    <div class="item item-icon-left">
                        <i class="icon ion-grid"></i>
                        <button ng-click="goToEditQuestions()" class="button button-outline button-dark button-block">
                            GO TO QUESTIONS
                        </button>
                    </div>

                    <div class="item item-divider">
                        User Profile
                    </div>

                    <div class="item item-icon-left">
                        <i class="icon ion-ios7-paper"></i>
                        <ion-toggle ng-model="settings.darkMode.checked"
                                    ng-change="darkModeChange()">
                            Use Dark Background
                        </ion-toggle>
                    </div>


                    <div class="item item-icon-left" ng-controller="LoginCtrl">
                        <i class="icon ion-ios7-drag"></i>
                        <button ng-click="logout()" class="button button-outline button-assertive button-block">Logout
                        </button>

                    </div>

                </div>

            </div>

            <!-- ADMIN -->
            <div class="col col-50">

                <div class="list">

                    <div class="item item-divider">
                        Edit Profile
                    </div>

                    <div class="item">
                        <label class="item item-input">
                            <i class="icon ion-ios7-person placeholder-icon"></i>
                            <span class="input-label">First Name</span>
                            <input type="text" placeholder="First Name" ng-model="user.first">
                        </label>
                    </div>

                    <div class="item">
                        <label class="item item-input">
                            <i class="icon ion-ios7-person placeholder-icon"></i>
                            <span class="input-label">Last Name</span>
                            <input type="text" placeholder="Last Name" ng-model="user.last">
                        </label>
                    </div>


                    <div>

                        <div class="item item-divider item-icon-right" ng-show="user.role === 'admin'">
                            Edit Users
                            <i class="icon {{ collpasedUsers ? 'ion-ios7-arrow-down' : 'ion-ios7-arrow-up' }}"
                                    ng-init="collpasedUsers = false"
                                    ng-click="collpasedUsers = !collpasedUsers" ></i>
                        </div>


                        <ul class="item" ng-show="user.role === 'admin' && !collpasedUsers">

                            <li class="item item-avatar" ng-repeat="item in allUsers">
                                <img src="/static/img/avatar.png">

                                <h2>{{ item.first }} {{ item.last }}
                                    <button class="button button-positive icon-right ion-ios7-circle-filled button-clear
                                        button-small {{ item.isActive ? 'button-balanced' : 'button-assertive' }}"></button>
                                </h2>
                                <hr>
                                <p>Email: {{ item.email }} | Role: {{ item.role | uppercase }}</p>
                                <button ng-click="changeRole(item)"
                                        class="button button-positive icon-left ion-ios7-plus-outline button-outline button-small">
                                    Change Role
                                </button>
                                <button ng-click="toggleStatus(item)"
                                        class="button icon-left ion-ios7-plus-outline button-outline button-small
                                        {{  item.isActive ? 'button-assertive' : 'button-balanced' }}">
                                   {{  item.isActive ? 'Deactivate User' : 'Activate User' }}
                                </button>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>
            <!-- ADMIN -->

        </div>

    </ion-content>
</ion-view>